<div class="container">
    <div class="post">
      <h2>10 Curiosidades Incríveis Sobre Gatos</h2>
      <img src="assets/gatitos.jpg" alt="gatos">
      <p>Gatos são animais fascinantes e cheios de mistérios. Descubra 10 curiosidades incríveis sobre esses felinos adoráveis.</p>
      <a href="#">Leia mais</a>
    </div>

    <div class="post">
      <h2>Os Cães Mais Inteligentes do Mundo</h2>
      <img src="assets/caramelo.jpg" alt="dog">
      <p>Você sabia que algumas raças de cães são consideradas mais inteligentes do que outras? Conheça as raças que se destacam pela sua inteligência e capacidade de aprendizado.</p>
      <a href="#">Leia mais</a>
    </div>

    <div class="post">
      <h2>A Incrível Jornada das Tartarugas Marinhas</h2>
      <img src="assets/tartaruga.jpg" alt="baby">
      <p>As tartarugas marinhas são animais incríveis que realizam longas migrações pelos oceanos. Descubra como esses animais se orientam e quais os desafios que enfrentam em sua jornada.</p>
      <a href="#">Leia mais</a>
    </div>
  </div>