.container {
    background-color: #113a81; /* Roxo */
    color: rgb(28, 12, 12);
    padding: 20px;
    font-family: sans-serif;
  }

  .post {
    background-color: #809bc9; /* Roxo mais claro */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  h1 {
    color: #800080; /* Roxo */
    text-align: center;
    margin-bottom: 20px;
  }
  

  h2 {
    color: #000000; /* Lavanda */
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }